.logo-wrapper {
    display: flex;
    line-height: 20px;
  
    a {
      font-family: "Mark Pro", Arial, helvetica, sans-serif;
    }
  
    .logo-link {
      height: 50px;
       img {
         width: 32px;
         height: 32px;
       }
    }
  }
    
  .charity-logo {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: contain;
  }
  